*{
    box-sizing: border-box;
}
@font-face{
    font-family: 'Roboto';
    src: url(Roboto-Regular.ttf)
}
body{
    font-family: 'Roboto';
    margin: 0px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    padding-bottom: 100px;
}

.logo{ 
    display: flex;
    flex-grow: 2;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    align-items: center;
    padding-left: 150px;
}
.header{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 50px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 100px;
}
li{
    font-size: 18px;
    color: #E5E7EB;
}
.hero{
    display: flex;
    flex: 1;
}
.break{
    display: flex;
    flex-basis: 100%;
    height:0px;
}

.text{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding-left: 150px;
    max-height: 100px;

}

.main-text{
    display: flex;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;

}
.sub-text{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 5px;
}
button{
    display: flex;
    flex-wrap: wrap;
    background: #3882F6;
    padding: 10px;
    border: none;
    border-radius: 25px;
    color: #F9FAF8;
}
.hero-two{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: start;
    width: 300px;
    height: 400px;
    padding-top: 5px;
}
.hero-two img{
    display: flex;
    height: 100%;
}
.container-two{
    display: flex;
    flex-direction: column;
    padding-bottom: 135.51px;
}
.header-two{
    display: flex;
    font-size: 36px;
    font-weight: 800;
    justify-content: center;
    padding: 40px;
}
.box{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    
    
}
.grisito,
.naranjito,
.manchitas,
.negra{
    border-radius: 20px;
    border: 10px #3882F6 solid;
}

.grisito img,
.manchitas img,
.naranjito img,
.negra img{
    width: 250px;
    height: 300px;
    border: 0px;
    border-radius: 10px;
}

.text-image{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 800;
}
.container-three{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding-top: 250px;
    padding-bottom: 250px;
}
.quote{
    display: flex;
    font-size: 36px;
    font-style: italic;
}
.author{
    display: flex;
    padding-left: 500px;
    font-size: 24px;
    font-weight: 800;
    padding-top: 10px;
}
.container-four{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px
}
.more{
    display: flex;
    background-color: #3882F6;
    padding: 30px;
    width: 1000px;
    height: 150px;

}
.more-written{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 10px;
    padding-right: 100px;
}
.more-header{
    display: flex;
    font-size: 24px;
    color: #E5E7EB;
    font-weight: 800;
}
.more-text{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}
.more button{
    display: flex;
    flex: 1;
    border: 2px white solid;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 20px;
    margin-right: 50px;
    max-width: 125px;
    font-weight: 700;
}

.footer{
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: #1F2937;
    padding: 40px;
}
.footer-text{
    display: flex;
    color: #F9FAF8;
}